*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;
}

body{
    background:#f4f7fc;
}

header{
    background:white;
    padding:20px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

header h1{
    color:#2563eb;
}

.container{
    width:90%;
    margin:auto;
    padding:20px 0;
}

.card{
    background:white;
    border-radius:20px;
    padding:25px;
    margin-bottom:20px;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.card-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.number{
    width:55px;
    height:55px;
    background:#e8f0ff;
    color:#2563eb;
    font-size:28px;
    font-weight:bold;
    border-radius:12px;

    display:flex;
    justify-content:center;
    align-items:center;
}

.status{
    background:#e8fff1;
    color:#16a34a;
    padding:8px 15px;
    border-radius:20px;
    font-weight:600;
}

.card h2{
    margin-bottom:15px;
}

.card p{
    color:#555;
    line-height:1.6;
    margin-bottom:20px;
}

button{
    width:100%;
    background:#2563eb;
    color:white;
    border:none;
    padding:15px;
    border-radius:12px;
    font-size:16px;
    cursor:pointer;
}

button:hover{
    background:#1d4ed8;
}
